<%- include('partials/header'); -%>

<div id="games">
    <a href ="/memory">
        <img src="/images/thumbnailMemory.png" alt="thumbnail_memory" height="200px" />
        <p>Memory</p>
    </a>
    <a href ="#">
        <img src="/images/underConstruction.svg" alt="thumbnail_memory" height="200px" />
        <p>New game mode TBA</p>
    </a>
    <a href ="#">
        <img src="/images/underConstruction.svg" alt="thumbnail_memory" height="200px" />
        <p>New game mode TBA</p>
    </a>
</div>

<%- include('partials/footer'); -%>